.navbar {
  background-color: #F3F9FB;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 20;
}

.nav-download {
  color: #F3F9FB;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  line-height: 40px;
}

.nav-bg {
  background-color: #113F67;
  width: 150px;
  border-radius: 30px;
  margin-left: auto; 
  margin-right: auto; 
  transition: background-color 0.5s ease;
}
.nav-bg:hover{
  background-color: #226597;
}
.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  max-width: 1500px;
}

.nav-logo {
  color: #113F67;
  align-items: center;
  cursor: pointer;
  margin-left: 50px;
  text-decoration: none;
  font-size: 2.2rem;
  flex-grow: 1;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 2rem;
}

.nav-links {
  color: #226597;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 3px solid transparent;
}

.fa-code {
  margin-left: 1rem;
}

.nav-item {
  line-height: 40px;
  margin-right: 1rem;
}

.nav-item:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-item:hover:after {
  width: 100%;
  background: black;
}

.nav-item .active {
  color: #113F67;
  border: 1px solid black;
}

.nav-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid #F3F9FB;
    position: absolute;
    top: 80px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #87C0CD;
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-item .active {
    color: #F3F9FB;
    border: none;
  }

  .nav-links {
    padding: 1.5rem;
    width: 100%;
    display: table;
  }

  .nav-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: #113F67;
  }

  .nav-logo {
    margin-left: 20px;
    margin-top: 15px;
  }

  .nav-bg {
   align-items: center;
   justify-content: center;
   margin-bottom: 20px;
   width: 100%;
   border-radius: 0;
  }
}
